In [2]:
import pandas as pd
import numpy as np

The first Tour de France started in 1903, with 110 editions as of 2023 (this notebook contains data up until 2018). As an avid cyclist, this statistic-intensive sport makes this dataset quite enjoyable to work with. I will split this analysis into multiple parts.

- **Part 1: Data Exploration:** this project contains three main datasets:
  1. Historical data: winners for each editions, the pace, distance, etc.
  2. Location data for each stage
  3. Stage-specific data
- **Part 2: Data Visualizations**
- **Part 3: Basic Statistics**
- **Part 4: Machine Learning**

# Part 1 - Data Exploration

### Dataset 1 - Historical TDF guide

In [13]:
tour_hist_df = pd.read_csv('data/2018_historical_guide.csv')
tour_hist_df.sample(5).T
# tour_hist_df.info()

                    16         57             17          68         58
Year              1923       1971           1924        1982       1972
Stages              15         20             15          21         20
Started            139        130            157         169        132
Ended               48         94             60         125         88
Distance          5386       3608           5425        3507       3846
Hour               222         96            226          92        108
Minutes             15         45             18           8         17
Seconds             30         14             21          46         18
Pace            24.233     38.084          24.25      38.059     35.514
Winner    H. Pélissier  E. Merckx  O. Bottecchia  B. Hinault  E. Merckx
Country            Fra        Bel            Ita         Fra        Bel
Age                 33         26             30          28         27

### Dataset 2 - TDF Stage Geo Data

In [17]:
geo_stages_df = pd.read_csv('data/unique_stage_geocode.csv')
geo_stages_df.sample(5).T

,478,749,670,682,383
Index,479,750,671,683,384
City,Molenbeek,Belfort/Ballon d�Alsace,Sedan,Piau-Engaly,Villers-sur-Mer
lon,"4,3303277","6,8463325","4,93863","0,1588887","-0,005321"
lat,"50,8522009","47,8226946","49,70349","42,7836595","49,321744"

### Dataset 3 - TDF Stages

In [10]:
stages_df = pd.read_csv('data/stages_TDF.csv')
stages_df.sample(5).T

,995,1698,969,1756,1528
Stage,2a,5c,4,6,3
Date,7/2/1973,7/4/1937,7/1/1974,7/10/1935,7/6/1951
Distance,12.4,93.0,184.0,207.0,219.0
Origin,Sint-Niklaas,Champagnole,Saint-Malo,Evian,Ghent
Destination,Sint-Niklaas,Geneva,Caen,Aix-les-Bains,Le Tréport
Type,Team time trial,Plain stage,Plain stage,Stage with mountain(s),Plain stage
Winner,Watney–Maes Pils,Leo Amberg,Patrick Sercu,René Vietto,Georges Meunier
Winner_Country,NaN,SUI,BEL,FRA,FRA